<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/header.ejs %>  
    

    <h1>Property List</h1>

    <table>
      <% properties.forEach(function(e,i){ %>
        

        <tr>
            <td><%= e.address %></td>
            <td><%= e.rating %></td>
            <td><%= e.phone %></td>
            <td><a href="/properties/edit/<%= i %>">Edit</a></td>
            <td><a href="/properties/view/<%= i %>">View</a></td>
            <td><a href="/properties/delete/<%= i %>">Delete</a></td>
        </tr>



    <% }) %>
    </table>

    <% include partials/footer.ejs %>

  </body>
</html>